<template>
  <div>
    <el-radio-group v-model="isCollapse" style="margin-bottom: 20px;">
      <el-radio-button :label="false">
        <i class="el-icon-arrow-left"></i>
      </el-radio-button>
      <el-radio-button :label="true">
        <i class="el-icon-arrow-right"></i>
      </el-radio-button>
    </el-radio-group>

    <el-menu class="el-menu-vertical-demo" @open="handleOpen" @close="handleClose" :collapse="isCollapse">
      <Navlink />
    </el-menu>
  </div>
</template>

<style>
.el-menu-vertical-demo:not(.el-menu--collapse) {
  width: 200px;
  min-height: 400px;
}
</style>

<script>
import Navlink from "@/components/Navlink";

export default {
  components: {
    Navlink
  },

  data() {
    return {
      isCollapse: true
    };
  },

  methods: {
    handleOpen(key, keyPath) {
      console.log(key, keyPath);
    },
    handleClose(key, keyPath) {
      console.log(key, keyPath);
    }
  }
};
</script>
