body {
  margin: 0;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}

.clearfix:after {
  clear: both
}

.page-enter-active,
.page-leave-active {
  transition: opacity .5s;
}

.page-enter,
.page-leave-to {
  opacity: 0;
}

button {
  &:focus {
    outline: 0;
  }
}

.th-logo {
  font-size: 36px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: white;
  text-align: center;
  font-weight: 300;
}
